body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #222;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.image-box {
  text-align: center;
}

.image {
  width: 500px;         
  height: 500px;        
  border-radius: 20px;
  object-fit: cover;
  transition: all 0.5s ease;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
}


.image1:hover {
  transform: scale(1.2);       
}

.image2:hover {
  transform: rotate(25deg);    
}

.image3:hover {
  transform: rotateY(180deg);  
}

